HDB2PatchLevel
ratings/usgs/src/data
*.out
*.err
*.log
*.dat
*~
.dba_user_login
.ncftp
.tstool
.app_user_login
*.lis
*.rdb
obj64
*.png
python/venv*
*.xlsx
.idea
.gradle
opendcs_user
usgs2hdb/decodes/*.xml
plots/
gradle/
gradlew
gradlew.bat
.vscode/perl-lang
